<aside class="left">
    <div class="tree">
        tree
    </div>
    <div class="palette">
        <designer-component-palette [packageNames]="packageNames"></designer-component-palette>
    </div>
</aside>
<main>
    content
    <ng-template [designerComponentRenderer]="metadata" #layoutComponents="designerComponentRenderer"></ng-template>
    <ng-template [designerComponentRenderer]="metadata" #layoutComponents="designerComponentRenderer"></ng-template>

    <button (click)="save()">SAVE</button>
</main>
<aside class="right">
    option
</aside>