<aside class="left">
    <div class="tree">
        <layout-designer-tree></layout-designer-tree>
    </div>
    
    <div class="palette">
        <designer-component-palette [packageNames]="packageNames"></designer-component-palette>
    </div>
</aside>

<main>
    <ng-template [designerComponentRenderer]="metadata" #layoutComponents="designerComponentRenderer"></ng-template>
    <div 
        *ngIf="!isMetadata"
        class="drop-all" 
        droppable
        (dropped)="onDrop($event)">
        <div class="fa fa-5x fa-plus-circle"></div>
        <h2 class="title">Add component</h2>
        <div class="subtitle">Simply drag and drop</div>
    </div>
</main>