<h4>Components</h4>
<div *ngFor="let package of packages">
    <toggle-panel [title]="package?.packageName" [visible]="true">
        <component-palette-item *ngFor="let component of package?.components" 
                                [componentMetadata]="component?.designerMetadata" 
                                [packageName]="package?.packageName" 
                                [componentName]="component?.componentName">
        </component-palette-item>
    </toggle-panel>
</div>
