<ng-template #defaultLook let-select>
    <span class="selected-value">{{select?.value}}</span>
    <span class="selected-caret fa fa-caret-down"></span>
</ng-template>

<ng-template #defaultOptionLook let-option let-select="select">
    <div class="optionDiv"
         (click)="select.value = option?.value">{{option?.value}}</div>
</ng-template>

<button class="btn btn-select" (click)="optionsDivVisible = !optionsDivVisible">
    <ng-container *ngTemplateOutlet="defaultLook; context: {$implicit: this}"></ng-container>
</button>

<div #optionsDiv
     *ngIf="optionsDivVisible"
     class="absolute optionsDiv"
     [style.left.px]="optionsDivStyle?.left"
     [style.top.px]="optionsDivStyle?.top">
    <ng-template ngFor [ngForOf]="options" let-option>
        <ng-container *ngTemplateOutlet="defaultOptionLook; context: {$implicit: option, select: this}"></ng-container>
    </ng-template>
</div>