<ng-template #defaultLook>
    <span class="selected-value">{{optionsAndValueManager.selectedOption | ngSelectValue: nothingSelectedText}}</span>
    <span class="selected-caret fa fa-caret-down"></span>
</ng-template>

<ng-template #defaultOptionLook let-option>
    <div class="optionItem"
         [class.selected]="option?.selected"
         [class.active]="option?.active"
         (click)="optionsAndValueManager.setSelected(option)">{{option?.text}}</div>
</ng-template>

<ng-template #defaultOptionsDivLook>
    <ng-template ngFor [ngForOf]="optionsAndValueManager.options" let-option>
        <ng-container *ngTemplateOutlet="defaultOptionLook; context: {$implicit: option, select: this}"></ng-container>
    </ng-template>
</ng-template>

<button class="btn btn-select" (click)="optionsDivVisible = !optionsDivVisible">
    <ng-container *ngTemplateOutlet="defaultLook; context: {$implicit: this}"></ng-container>
</button>

<div #optionsDiv
     *ngIf="optionsDivVisible"
     class="absolute optionsDiv"
     [style.left.px]="optionsDivStyle?.left"
     [style.top.px]="optionsDivStyle?.top">
    <ng-container *ngTemplateOutlet="defaultOptionsDivLook; context: {$implicit: this}"></ng-container>
</div>