@import "scss/variables.scss";
@import "scss/fonts.scss";
@import "scss/misc.scss";
@import "scss/bootstrap-override.scss";

// ---------------------- COMMON ----------------------
html
{
    height: 100%;
}

body
{
    margin: 0;
    padding: 0 !important;
    font-family: "Open Sans";
    font-size: 13px;
    min-width: 1024px;
    min-height: 100%;
}

app
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

// ---------------------- APP STARTING ----------------------

.loading-indicator
{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 23456;
    opacity: 1;

    & > div
    {
        animation-duration: 350ms;
        animation-iteration-count: infinite;
        animation-name: rotate-loading;
        animation-timing-function: linear;
        border-left: 4px solid #eee;
        border-radius: 25px;
        border-top: 4px solid #eee;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 50%;
        width: 40px;
    }
}

@keyframes rotate-loading
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

// ---------------------- NAVIGATION ----------------------
.navbar-version 
{
    line-height: 11px;
    font-size: 10px;
    color: #969696
}

.navbar-update-available
{
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;

    &>span
    {
        background-image: linear-gradient(to top, #245580, #c1d2e0, #245580);
        background-size: 400% 400%;
        color:transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: TextGradientAnimate 1.5s ease infinite;
        font-size: 28px;
    }

    &>span+span
    {
        font-size: 16px;
    }
}

@keyframes TextGradientAnimate 
{
    0%{background-position: 50% 0%}
    100%{background-position: 50% 100%}
}

// ---------------------- CONTAINER ----------------------
.container.main
{
    padding: 0;
    flex: 1;
}

@media screen and (min-width: 1140px)
{
    .container.main
    {
        width: 98%;
    }
}

@media screen and (min-width: 1440px)
{
    .container.main
    {
        width: 90%;
    }
}

// ---------------------- LOGIN VIEW ----------------------
login-view.app-page
{
    width: 33%;
    height: calc(100vh - 72px);
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;

    &.ng-animating
    {
        width: 33%;
        margin-left: 33%;
    }

    &>div
    {
        flex: 1 0 auto;
    }
}

// ---------------------- HELP VIEW ----------------------
help-view, .help-view
{
    background-color: #FFF;
    display: block;
    padding: 10px;
    font-size: 1.4em;

    @media print
    {
        h2
        {
            page-break-before: always;
        }
    }

    div
    {
        &>img
        {
            width: 100%;

            &+*
            {
                display: block;
                text-align: center;
                font-weight: bold;
            }
        }
    }
}
