<div class="container main">
    <!--Responsive menu button-->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-panel-id">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" routerLink="/">
            <span class="glyphicon glyphicon-home"></span>

            <div class="inline-block">
                <div class="navbar-version">{{config?.title}}: {{config?.release}}</div>
                <div class="navbar-version">{{guiVersion}}</div>
            </div>
        </a>

        <a class="navbar-brand pointer-cursor">{{'global.appName' | translate}}</a>

        <a *ngIf="updateAvailable" class="navbar-update-available" title="Nová verzia aplikácie dostupná, prosím aktualizujte" data-placement="bottom" (click)="activateUpdate()">
            <span class="fa fa-arrow-up"></span>
            <span>Aktualizovať</span>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="navigation-panel-id">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'global.languages' | translate }} <span class="caret"></span></a>

                <ul class="dropdown-menu">
                    <li *ngFor="let lang of availableLanguages" [ngClass]="{active: activeLang == lang.lang}">
                        <a class="pointer-cursor" (click)="changeLang(lang.lang)">{{lang.title}}</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right nav-pills">
            <li *authorize="'home-page'">
                <a routerLink="/">{{'navigation.home' | translate}}</a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dynamic content <span class="caret"></span></a>

                <ul class="dropdown-menu">
                    <li>
                        <a routerLink="/dynamic/simple">Simple</a>
                    </li>

                    <li>
                        <a routerLink="/dynamic/default">Default</a>
                    </li>

                    <li>
                        <a routerLink="/dynamic/testing">Testing</a>
                    </li>
                </ul>
            </li>

            <li>
                <a routerLink="/designer/default">Designer</a>
            </li>

            <li class="dropdown" *authorize="'samplesGroup-menu'">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Samples <span class="caret"></span></a>

                <ul class="dropdown-menu">
                    <li *authorize="'gridSample-page'">
                        <a routerLink="/samples/grid">Grid</a>
                    </li>

                    <li *authorize="'bootstrapSample-page'">
                        <a routerLink="/samples/bootstrap">Bootstrap</a>
                    </li>

                    <li *authorize="'commonSample-page'">
                        <a routerLink="/samples/common">Common</a>
                    </li>

                    <li *authorize="'notificationsSample-page'">
                        <a routerLink="/samples/notifications">Notifications</a>
                    </li>

                    <li *authorize="'authorizationSample-page'">
                        <a routerLink="/samples/authorization">Authorization</a>
                    </li>
                </ul>
            </li>

            <li *authorize="'userGroup-menu'">
                <a class="dropdown-toggle pointer-cursor" data-toggle="dropdown">
                    <span>
                        <span class="glyphicon glyphicon-user"></span>{{fullName}} <span class="caret"></span>
                    </span>
                </a>

                <ul class="dropdown-menu">
                    <li *authorize="'logoutAction-menu'" (click)="logout()">
                        <a>
                            <span class="glyphicon glyphicon-log-out"></span>
                            <span>Odhlásiť</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>