<h3>Notifications Sample</h3>

<div>
    <h3>Global Notifications</h3>

    <div>
        <button class="btn btn-warning" (click)="showWarning()">Warning message</button>
        <button class="btn btn-success" (click)="showSuccess()">Success message</button>
        <button class="btn btn-info" (click)="showInfo()">Info message</button>
        <button class="btn btn-danger" (click)="showError()">Error message</button>
        <button class="btn btn-primary" (click)="cleanAll()">Clear message</button>
    </div>

    <h3>Local notifications</h3>

    <div>
        <button class="btn btn-warning" (click)="showLocalWarning()">Warning message</button>
        <button class="btn btn-success" (click)="showLocalSuccess()">Success message</button>
        <button class="btn btn-info" (click)="showLocalInfo()">Info message</button>
        <button class="btn btn-danger" (click)="showLocalError()">Error message</button>
        <button class="btn btn-primary" (click)="cleanLocalAll()">Clear message</button>
    </div>

    <div style="width: 40%;">
        <notifications></notifications>
    </div>

    <div>
        Content below notifications
    </div>
</div>