$xsWidth: 3px;
$smWidth: 6px;
$mdWidth: 12px;
$lgWidth: 24px;
$xlWidth: 32px;

$smFontSize: 12px;
$mdFontSize: 14px;
$lgFontSize: 16px;

$primaryColor: #446e9b;

$defaultFontColor: #222222;
$defaultInvFontColor: #EEEEEE;