<h3>Grid Sample</h3>

<h4>Grid with default paging</h4>

<button (click)="test()">click</button>

<ng-grid #gridSample [gridOptions]="gridOptions" style="height: 100px;">
    <basic-table-metadata>
        <basic-table-column id="id" name="id" title="ID" [ordering]="true" width="minmax(250px, 500px)"></basic-table-column>
        <basic-table-column id="index" name="index" title="Index" width="2fr"></basic-table-column>
        <basic-table-column id="isActive" name="isActive" title="Active"></basic-table-column>
        <basic-table-column id="balance" name="balance" title="Balance"></basic-table-column>
        <basic-table-column id="age" name="age" title="Age"></basic-table-column>
        <basic-table-column id="name" name="name" title="First name"></basic-table-column>
        <basic-table-column id="surname" name="surname" title="Surname"></basic-table-column>
        <basic-table-column id="email" name="email" title="E-Mail"></basic-table-column>
        <basic-table-column id="address" name="address" title="Address"></basic-table-column>
        <basic-table-column id="phone" name="phone" title="Phone"></basic-table-column>
    </basic-table-metadata>
</ng-grid>

<div>
    <button class="btn btn-primary" (click)="setPage(2)">2nd page</button>
    <button class="btn btn-primary" (click)="setPage(4)">4th page</button>
</div>

<h4>Grid with load more paging</h4>

<ng-grid #gridLoadMore [gridOptions]="gridLoadMoreOptions">
    <basic-table-metadata>
        <basic-table-column id="id" name="id" title="ID" [ordering]="true"></basic-table-column>
        <basic-table-column id="index" name="index" title="Index"></basic-table-column>
        <basic-table-column id="isActive" name="isActive" title="Active"></basic-table-column>
        <basic-table-column id="balance" name="balance" title="Balance"></basic-table-column>
        <basic-table-column id="age" name="age" title="Age"></basic-table-column>
        <basic-table-column id="name" name="name" title="First name"></basic-table-column>
        <basic-table-column id="surname" name="surname" title="Surname"></basic-table-column>
        <basic-table-column id="email" name="email" title="E-Mail"></basic-table-column>
        <basic-table-column id="address" name="address" title="Address"></basic-table-column>
        <basic-table-column id="phone" name="phone" title="Phone"></basic-table-column>
    </basic-table-metadata>
</ng-grid>

<h4>Grid with content scroll paging</h4>

<ng-grid #gridContentScroll [gridOptions]="gridContentScrollOptions">
    <basic-table-metadata>
        <basic-table-column id="id" name="id" title="ID"></basic-table-column>
        <basic-table-column id="index" name="index" title="Index"></basic-table-column>
        <basic-table-column id="isActive" name="isActive" title="Active"></basic-table-column>
        <basic-table-column id="balance" name="balance" title="Balance"></basic-table-column>
        <basic-table-column id="age" name="age" title="Age"></basic-table-column>
        <basic-table-column id="name" name="name" title="First name"></basic-table-column>
        <basic-table-column id="surname" name="surname" title="Surname"></basic-table-column>
        <basic-table-column id="email" name="email" title="E-Mail"></basic-table-column>
        <basic-table-column id="address" name="address" title="Address"></basic-table-column>
        <basic-table-column id="phone" name="phone" title="Phone"></basic-table-column>
    </basic-table-metadata>
</ng-grid>

<h4>Grid with previous next paging</h4>

<ng-grid #gridPreviousNext [gridOptions]="gridPreviousNextOptions">
    <basic-table-metadata>
        <basic-table-column id="id" name="id" title="ID"></basic-table-column>
        <basic-table-column id="index" name="index" title="Index"></basic-table-column>
        <basic-table-column id="isActive" name="isActive" title="Active"></basic-table-column>
        <basic-table-column id="balance" name="balance" title="Balance"></basic-table-column>
        <basic-table-column id="age" name="age" title="Age"></basic-table-column>
        <basic-table-column id="name" name="name" title="First name"></basic-table-column>
        <basic-table-column id="surname" name="surname" title="Surname"></basic-table-column>
        <basic-table-column id="email" name="email" title="E-Mail"></basic-table-column>
        <basic-table-column id="address" name="address" title="Address"></basic-table-column>
        <basic-table-column id="phone" name="phone" title="Phone"></basic-table-column>
    </basic-table-metadata>
</ng-grid>

<h4>Grid with page scroll paging</h4>

<ng-grid #gridPageScroll [gridOptions]="gridPageScrollOptions">
    <basic-table-metadata>
        <basic-table-column id="id" name="id" title="ID"></basic-table-column>
        <basic-table-column id="index" name="index" title="Index"></basic-table-column>
        <basic-table-column id="isActive" name="isActive" title="Active"></basic-table-column>
        <basic-table-column id="balance" name="balance" title="Balance"></basic-table-column>
        <basic-table-column id="age" name="age" title="Age"></basic-table-column>
        <basic-table-column id="name" name="name" title="First name"></basic-table-column>
        <basic-table-column id="surname" name="surname" title="Surname"></basic-table-column>
        <basic-table-column id="email" name="email" title="E-Mail"></basic-table-column>
        <basic-table-column id="address" name="address" title="Address"></basic-table-column>
        <basic-table-column id="phone" name="phone" title="Phone"></basic-table-column>
    </basic-table-metadata>
</ng-grid>