<div [class.inline-block]="options?.inline"
     [style.paddingTop.px]="options?.padding?.top"
     [style.paddingLeft.px]="options?.padding?.left"
     [style.paddingRight.px]="options?.padding?.right"
     [style.paddingBottom.px]="options?.padding?.bottom"
     [style.marginTop.px]="options?.margin?.top"
     [style.marginLeft.px]="options?.margin?.left"
     [style.marginRight.px]="options?.margin?.right"
     [style.marginBottom.px]="options?.margin?.bottom"
     *ngFor="let child of options?.children">
    <ng-container *componentRenderer="child"></ng-container>
</div>