<div>
    <h3>{{subs}}</h3>

    <div>
        <button (click)="inc()">click</button>
        <button (click)="toggle()">toggle</button>
    </div>

    <ng-template #pagingComponent="ngComponentOutletEx" [ngComponentOutletEx]="paging"></ng-template>

    <div style="overflow: hidden;" @slideInOut *ngIf="trigger == 'in'">
        <div class="alert alert-warning">
            This is warning
        </div>
    </div>

    <div [@test]="trigger">
        <span>{{counter}}</span>
        <div *ngIf="trigger == 'in'">
            <span>XXXXXXXXXXXXXX</span>
        </div>

        <div *ngIf="trigger == 'out'">
            <div>YYYYYYYYYYYYYY</div>
        </div>

        <div *ngIf="show">
            <div>ZZZZZZZZZZZZ</div>
        </div>
    </div>

    <fancytree [options]="treeOptions">
        <fancytree-node [content]="'test 1'"></fancytree-node>

        <fancytree-node *ngIf="trigger == 'in'" [content]="'test 2'" [folder]="true">
            <fancytree-node content='node 2.1'>
                <fancytree-node content='node 2.1.1'></fancytree-node>
                <fancytree-node content='node 2.1.2'></fancytree-node>
            </fancytree-node>
        </fancytree-node>
    </fancytree>
</div>