<div style="margin-bottom: 6px;" [formGroup]="form">
    <div class="inline-block" style="margin-right: 8px; border-top: 2px solid #EEEEEE; width: 20px;">&nbsp;</div>
    <input type="text" class="form-control inline-block" style="width: 40px; margin-right: 6px;" formControlName="top">
    <div class="inline-block" style="margin-right: 8px; border-right: 2px solid #EEEEEE; width: 20px;">&nbsp;</div>
    <input type="text" class="form-control inline-block" style="width: 40px;" formControlName="right">
</div>

<div [formGroup]="form">
    <div class="inline-block" style="margin-right: 8px; border-bottom: 2px solid #EEEEEE; width: 20px;">&nbsp;</div>
    <input type="text" class="form-control inline-block" style="width: 40px; margin-right: 6px;" formControlName="bottom">
    <div class="inline-block" style="margin-right: 8px; border-left: 2px solid #EEEEEE; width: 20px;">&nbsp;</div>
    <input type="text" class="form-control inline-block" style="width: 40px;" formControlName="left">
</div>