<div class="title">Toolbar</div>

<section class="section">
    <div class="title">Components</div>
    
    <div class="component-item"
         draggable="true"
         (dragstart)="componentDragStart($event, component.component.id)"
         (dragend)="componentDragEnd()"
         *ngFor="let component of availableComponents">
        <span class="uppercase"> {{component.metadata.name}}</span>
        <span> #{{component.component.id}}</span>
    </div>
</section>

<section class="section">
    <div class="title">Nodes</div>
</section>