<div class="title">Toolbar</div>

<section class="section">
    <div class="title">Nodes</div>

    <div class="component-item"
         draggable="true"
         (dragstart)="nodeDragStart($event, node.name)"
         (dragend)="dragEnd()"
         *ngFor="let node of nodesDefinitions">
        <div class="uppercase">{{node.name}}</div>
    </div>
</section>

<section class="section">
    <div class="title">Components</div>
    
    <div class="component-item"
         draggable="true"
         (dragstart)="componentDragStart($event, component.component.id)"
         (dragend)="dragEnd()"
         *ngFor="let component of availableComponents">
        <div class="uppercase">{{component.metadata.name}}</div>
        <div>ID: {{component.component.id}}</div>
    </div>
</section>