<div class="layout-designer">
    <header>Header</header>
    <aside class="left">
        <div class="tree">
            tree
        </div>
        <div class="palette">
            palette
        </div>
    </aside>
    <main>
        content
        <ng-template [designerComponentRenderer]="dynamicModule" #layoutComponents="designerComponentRenderer"></ng-template>
        <ng-template [designerComponentRenderer]="dynamicModule" #layoutComponents="designerComponentRenderer"></ng-template>

        <button (click)="save()">SAVE</button>
    </main>
    <aside class="right">
        option
    </aside>
</div>