<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Authentication</h1>

        <div class="alert alert-danger" *ngIf="authenticationError">
            <strong>Authentication failed!</strong> Please check your credentials and try again.
        </div>
        
        <form class="form" role="form" (ngSubmit)="login()">
            <div class="form-group">
                <label for="username">Login</label>
                <input type="text" class="form-control" id="username" placeholder="Your login" [(ngModel)]="username" name="username">
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Your password" [(ngModel)]="password" name="password">
            </div>
                        
            <button type="submit" class="btn btn-primary">Authenticate</button>
        </form>
    </div>
</div>